@inject NavigationManager nav

<div class="top-row pl-4 navbar navbar-dark">
    @if (!string.IsNullOrEmpty(currentPath))
    {
        <NavLink class="nav-item" href=""><span class="oi oi-action-undo"></span> Atgal</NavLink>
    }
    else
    {
        <div></div>
    }
    <a class="navbar-brand" href="">Kauliukų Lentelė</a>
</div>

@code {
    string currentPath = "";

    protected override void OnInitialized()
    {
        nav.LocationChanged += LocationChanged;
        currentPath = nav.ToBaseRelativePath(nav.Uri);
    }

    private void LocationChanged(object ob, LocationChangedEventArgs args)
    {
        currentPath = nav.ToBaseRelativePath(args.Location);
        StateHasChanged();
    }
}
